<!-- <div class="wrapper">
	<div class="card" style="width: auto;" *ngFor="let card of cards | async">
		<img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{card.name}}</h5>
			<p class="card-text">{{ card.text }}</p>
			<button (click)="delete(card)" class="btn btn-primary">Delete</button>
		</div>
	</div>
</div>
<div style="padding:10px">
<button (click)="addItem(0)" type="button" class="btn btn-primary">Add short card</button>
<button (click)="addItem(1)" type="button" class="btn btn-primary">Add long card</button>
</div> -->

<app-header></app-header>
<router-outlet></router-outlet> 